<a href="javascript:location.reload(true)" class="btn btn-primary btn-block">Refresh</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Channel</th>
      <th scope="col">Viewers ({{viewers.length}})</th>
      <th scope="col">All Subscribers ({{subs.length}})</th>
      <th scope="col">Subscribers in Chat ({{activesubs.length}})</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{channel}}
      </td>
      <td>
        {{#each viewers}}
          {{this}}<br />
        {{/each}}
      </td>
      <td>
        {{#each subs}}
          {{this}}<br />
        {{/each}}
      </td>
      <td>
        {{#each activesubs}}
          {{this}}<br />
        {{/each}}
        <hr>
        <strong>Spaces instead of line breaks:</strong><br />
        {{#each activesubs}}
          {{this}}
        {{/each}}
      </td>
    </tr>
  </tbody>
</table>